@page
@model FizzyLogic.Pages.About
@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>About</h1>
        </div>
    </div>
</div>