$fa-font-path: "../fonts";

@import "./fontawesome/fontawesome";
@import "./fontawesome/light";
@import "./fontawesome/duotone";
@import "./fontawesome/brands";

@import "../node_modules/bootstrap/scss/bootstrap";

@import "article";

body {
    padding-top: 80px;
    padding-bottom: 40px;
}

.header-image {
    height: 300px;
    background-size: cover;
    background-position: center;
}

.article-card > article > header {
    > a, > a:hover {
        text-decoration: none;
    }
}

.validation-summary-valid {
    display: none;
}

.list-contact-options > li > a {
    text-decoration: none;
}

#editor.is-invalid {
    border: 1px solid red;
    border-radius: 3px;
} 