@model IEnumerable<Article>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-4 d-flex align-items-stretch article-feed">
    @foreach (var article in Model)
    {
        <partial model="@article" name="Shared/_ArticleCard"/>  
    }
</div>